body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e3f2fd; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#dashboard {
  height: calc(100vh - 65px);
}

/* 
#dashcard {
  width: 600px;
} */

#canvasDraw {
  display: inline-flex;
  /* width: calc(100vh - 300px);
  height: calc(100vh - 65px); */
}

.sidePanel {
  padding-top: 20px;
  width: 300px;
  height: calc(100vh - 65px);
  float: right;
  overflow: auto;
}

.sidePanelElem {
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.sidePanelLabel {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

#gestureFunctionsLabel {
  padding-bottom: 12px;
}