body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#canvasDraw {
  display: inline-block;
}

.sidenav {
  padding-top: 20px;
  max-width: 300px;
}

.sidenavElem {
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.sidenavLabel {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

#gestureFunctionsLabel {
  padding-bottom: 12px;
}