body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e3f2fd; */
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#dashboard {
  height: calc(100vh - 65px);
}

/* 
#dashcard {
  width: 600px;
} */

#floatContainer {
  background-color: lawngreen;
}

#canvasDraw {
  /* display: inline-block; */
  line-height: 0;
  background-color: lawngreen;
  float: left;
  /* width: calc(100vh - 300px);
  height: calc(100vh - 71px); */
}

.sidenav {
  padding-top: 20px;
}

#MyoDataDisplay {
  line-height: 0;
  /* background-color: lawngreen; */
  float: left;
  width: calc(100vw - 300px);
  height: calc(100vh - 71px);
}

.sidePanel {
  margin: 0;
  padding-top: 20px;
  width: 300px;
  height: calc(100vh - 71px);
  float: left;
  overflow: auto;
}

.sidePanelElem {
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
}

.sidePanelLabel {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

#gestureFunctionsLabel {
  padding-bottom: 12px;
}

.fixRowMargin {
  height: 15px !important;
}